[submodule "deps/cdk"]
	path = deps/cdk
	url = https://github.com/average-gary/cdk.git
	branch = ehash-v0.13.x
[submodule "deps/hashpool"]
	path = deps/hashpool
	url = https://github.com/vnprc/hashpool
[submodule "deps/sv2-spec"]
	path = deps/sv2-spec
	url = https://github.com/stratum-mining/sv2-spec
[submodule "deps/share-accounting-ext"]
	path = deps/share-accounting-ext
	url = https://github.com/demand-open-source/share-accounting-ext.git
